<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'mechanics')}">
<head>
    <meta charset="UTF-8">
    <title>List of Mechanics</title>
</head>
<body>
<h2 th:text="'List of Mechanics'">List of Mechanics.</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mechanic : ${mechanics}">
        <td th:text="${mechanic.id}">1</td>
        <td th:text="${mechanic.firstName}">Joe</td>
        <td th:text="${mechanic.lastName}">Buck</td>
    </tr>
    </tbody>
</table>
</body>
</html>